.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  /* border: 1px fuchsia dotted; */
  align-items: flex-start;
}

.menuButton {
  margin: 0.5rem;
  background-color: transparent;
  border: 0;
  color: #aaa;
}

.menuLinks {
  padding: 0;
  /* border: 1px slateblue dotted; */
  display: flex;
  flex-direction: column;
}

.menuLinks li {
  /* border: 1px rgb(0, 255, 0) dotted; */
  padding: 1rem;
  list-style: none;
  margin: 0.25rem 0;
}
