.wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.menuButton {
  margin: 0.5rem;
  background-color: transparent;
  border: 0;
  color: #ccb88b;
}

.menuLinks {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menuLinks li {
  padding: 1rem;
  list-style: none;
  margin: 0.25rem 0;
}

/* .menuLinksMobile{

} */
