.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  max-width: 400px;
}

.picture {
  max-height: 400px;
  max-width: 400px;
  min-height: 100px;
  min-width: 100px;
  object-fit: contain;
  position: relative;
}
