.form {
  margin: 0 auto;
  max-width: 32rem;
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error {
  background-color: rgba(255, 131, 131, 0.5);
  color: red;
}

.ok {
  background-color: rgba(0, 255, 0, 0.5);
  color: green;
}
