.form {
  margin: 0 auto;
  max-width: 32rem;
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error {
  background-color: rgba(223, 113, 113, 0.5);
  color: rgb(160, 0, 0);
}

.ok {
  background-color: rgba(89, 195, 89, 0.5);
  color: rgb(4, 71, 4);
}
