.navBar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.navLogo {
  margin-right: auto;
  margin-left: 2rem;
}

.desktop ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.desktop li {
  flex: 1;
  list-style: none;
  margin: 0 0.25rem;
}

/* .desktop li::after {
  content: "";
  position: absolute;
  background-color: black;
  right: 0;
  top: 10px;
  width: 1px;
  height: 2rem;
} */

.mobile ul {
  display: flex;
  flex-direction: column;
}

.mobile li {
  flex: 1;
  list-style: none;
  margin: 2rem 0;
}
