.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.flexColumn {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.pictureAfterText {
  flex-direction: row-reverse;
}

.picture {
  min-height: 400px;
  min-width: 400px;
  max-width: 1000px;
  max-height: 700px;
}

.pictureMobile {
  min-height: 100px;
  min-width: 100px;
  max-width: 320px;
  max-height: 320px;
  object-fit: contain;
  position: relative;
}

.text {
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin: 1rem;
  text-align: left;
  overflow-wrap: anywhere;
}

.text h1 {
  line-height: 2rem;
}

/* @media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
}

@media only screen and (min-width: 601px) {
  .wrapper {
    flex-direction: row;
  }
} */
