html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: rgb(186, 150, 102);
  cursor: pointer;
}

p {
  margin-block-end: 0rem;
  margin-block-start: 0rem;
}

* {
  box-sizing: border-box;
}

/* img:hover {
  transform: scale(1.2); 
  cursor: pointer;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(225, 225, 225);
    background: rgb(0, 0, 0);
  }
} */
